/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.youtube-video-container {
  width: 100%;           
  min-width: 100px;       
  max-width: 100%;        
  height: auto;           
  display: flex;          
  justify-content: center;
}

.youtube-video-container iframe {
  width: 100%;               
  max-width: 100%;           
  height: auto;              
  aspect-ratio: 4 / 3;      
  border: 5px;              
}


.yt-toolbar {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}

.yt-toolbar button {
  font-size: 1rem;
  padding: 4px 10px;
  cursor: pointer;
}
.yt-speed-btn {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: var(--background-secondary);
  border: 1px solid var(--background-modifier-border);
}
/* CSS Ends here